/* body{
  margin: 0;

} */

body {
  max-height: 100vh;
}
.icon-size {
  font-size: 250%;
}

/* .navbar-design {
  position: fixed;
  bottom: 0;
  left: 0%;

} */

/* .parent-vh {
  height: 100vh;

} */

.item-width {
  flex-basis: 15% !important;
}



/* .larger-padding{
  padding: 2% 15% 10% 15%;
} */
/*
.border-bottom {
  border-bottom: 1px solid black;
} */

.cart-add {
  background-color: coral;
  border-radius: 50%;
  padding: 1.2%;
}

/* .yellow{
  background-color: yellow;
} */

/* .smaller-height {
  height: 95% !important;
} */
/*
.scroll {
  overflow-y: scroll;
} */

.change-modal {
  position: fixed !important;
  background-color: gray;
  top: 50%;
  left: 50%;
  transform: translate(-25%,-25%);
  color: white;
  padding: 1%;
  z-index: 100;
}

.display-none {
  display: none;
}

.fas:hover{
  color: red !important;
}

/* .border-top {
  border-top: 1pt solid black
/* } */

/* .border-one{
  border: 1px solid black;
} */ */


/* .pb-five-percent {
  padding-bottom:5% !important;
} */

.absolute-above-bar{
  position: absolute;
  bottom:0%;
}

.absolute-below-bar{
  position: absolute;
  top:0%;
  overflow: scroll;
}
/*
.best-seller {
  height: 30%;
  overflow: scroll;
} */

.width-30 {
  width: 30%;
}


.twenty-basis {
  flex-basis: 20% !important;
}

.lower-height {
  height: 80%;
}

.pop-up{
  position: fixed;
  height: 70vh;
  width: 70vh;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  background-color: lightgray;
}

.cat-btn-width {
  width: 110px !important;
}

.small-gray-nav {
  height: 30px;
  background-color: darkgray;

}

.test {
  min-height: 50%;
}

.items-in-cart {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}

.web-scroll {
  -webkit-overflow-scrolling: touch;
}
