body{
  height: 90vh;
  margin: 0;
  width: 100%;
}
.icon-size {
  font-size: 250%;
}

.navbar-design {
  position: fixed;
  bottom: 0;
  left: 0%;

}

.parent-vh {
  height: 100vh;

}

.category-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.thirty-basis {
  flex-basis: 30% !important;
}



.larger-padding{
  padding: 2% 15% 10% 15%;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.cart-add {
  background-color: coral;
  border-radius: 50%;
  padding: 1.2%;
}

.yellow{
  background-color: yellow;
}

.smaller-height {
  height: 95% !important;
}

.scroll {
  overflow-y: scroll;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  background-color: gray;
  color: black;
}

.display-none {
  display: none;
}
